<header>
    <div class="logo">
        <img title="logo" src="assets/pizza-logo.png" width="50px" height="50px">
    </div>
    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="true">Inicio</a></li>
            <li><a routerLink="/about" routerLinkActive="true" href="#">Acerca de</a></li>
            <li><a routerLink="/" routerLinkActive="true" href="#">Servicios</a></li>
            <li><a routerLink="/contacto" routerLinkActive="true" href="#">Contacto</a></li>
        </ul>
    </nav>
</header>