<div class="sidebar" [ngClass]="{ open: sidebarOpen }">
  <!-- <div class="desactivada">
    <button class="toggler" type="button" (click)="toggleSidebar()">☰</button>
  </div> -->
  <div class="contenido">
  </div>
</div>
<div class="flechita-container" [ngClass]="{ open: sidebarOpen }">

  <button type="button" id="flechita-container" title="flechita" (click)="toggleSidebar()"
    [ngClass]="{ open: !sidebarOpen }">
    <div id="flechita-arriba"></div>
    <div id="flechita-abajo"></div>
  </button>
  <div class="globo">
    <div class="punta"></div>
    <div *ngIf="sidebarOpen" class="flechita-info">
      <p>Cerrar</p>
    </div>
    <div *ngIf="!sidebarOpen" class="flechita-info">
      <p>Abrir</p>
    </div>
  </div>
</div>